@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #c7c7c7;
}

::-webkit-scrollbar-thumb {
  background: #2e5bd4;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1d41a5;
}


.slick-arrow{
    width: auto;
    height: auto;
    z-index: 999;
    &::after,
    &::before{
      content: '';
    }
}